{% extends '@App/admin/base.html.twig' %}

{% block css %}
    {{ parent() }}
{% endblock %}

{% block content_header %}
    <h2>Google analytics panel</h2>
{% endblock %}

{% block content %}
    <div class="row">
       <section class="col-md-6">
       </section>
    </div>
{% endblock %}

{% block js %}
    {{ parent() }}
{% endblock %}