{% extends '@App/admin/layout/list.html.twig' %}

{% block list_title %}Specification group list{% endblock %}

{% block list_content %}
    <div class="box-header">
        <a href="{{ path('app.admin.specification_group.add') }}" role="button" class="btn btn-success">Add group</a>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <table class="table table-bordered table-hover dataTable">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for specificationGroup in specificationGroups %}
                <tr>
                    <td>{{ specificationGroup.id }}</td>
                    <td>{{ specificationGroup.name }}</td>
                    <td>
                        <div class="btn-group">
                            <a href="{{ path('app.admin.specification_group.edit', {
                                'object': specificationGroup.id
                            }) }}"
                               type="button" class="btn btn-success">
                                <span class="fa fa-edit"></span>
                                Edit
                            </a>
                            <a href="#"
                               type="button" class="btn btn-danger js-confirm-delete">
                                <span class="fa fa-trash"></span>
                                Delete
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- /.box-body -->
{% endblock %}