<div class="col-md-6">
    <div class="box box-default" id="cart-box-container">
        <div class="box-header with-border">
            <h3 class="box-title">Browser Usage</h3>

            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="chart-responsive">
                        <canvas id="browser-usage" height="150" data-labels="{{ data.labels | to_json }}" data-visitors="{{ data.visitors | to_json }}">
                        </canvas>
                    </div>
                    <!-- ./chart-responsive -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.box-body -->
        <div class="box-footer no-padding">
        </div>
        <!-- /.footer -->
    </div>
    <!-- /.box -->
</div>